@page
@model AboutModel
<h2>About<h2>
<h3>ASP.NET Core "Razor Pages" Application</h3>
<p>According to <a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages/">MSDN</a>, <em>"Razor Pages is a new aspect of ASP.NET Core MVC that makes coding page-focused scenarios easier and more productive."</em></p>
<p>This is my first Razor Pages project. After giving the framework a chance, it seems to work as-advertised.</p>
<p>See the README on my <a href="https://github.com/VincentSaelzler/CollatzRazorPage">GitHub Page</a> for an detailed write-up of my impressions of the framework, along with some tips and tricks I picked up while creating this project.</p>