@page
@model ContactModel
<h2>Contact</h2>
<h3>Vincent Saelzler</h3>

<address>
    <a href="https://www.linkedin.com/in/vincentsaelzler/"">LinkedIn</a><br />
    <a href="https://github.com/VincentSaelzler/">GitHub</a><br />
    <a href="https://hub.docker.com/u/vincentsaelzler/">Docker Hub</a><br />
    <a href="mailto:vincent.saelzler@gmail.com">Email</a>
</address>
